{
  "development": {
    "username": "",
    "password": "",
    "database": "",
    "host": "",
    "dialect": "mysql",
    "PORT": 8080,
    "operatorsAliases": false
  },
  "test": {
    "username": "",
    "password": "",
    "database": "",
    "host": "",
    "dialect": "mysql",
    "PORT": 8090,
    "operatorsAliases": false
  }
}
