{
  "development": {
    "username": "",
    "password": "",
    "database": "",
    "host": "",
    "dialect": "mysql",
    "PORT": 8080,
    "operatorsAliases": false
  },
  "test": {
    "username": "root",
    "password": "",
    "database": "zniszcz-auth-test",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "PORT": 8090,
    "operatorsAliases": false
  }
}
